body {
  background-color:#F7F7F7;
  line-height: 1.2; 
  color: #3F3F44;
  font-family: Tahoma, Arial, Helvetica, sans-serif;
  margin: 10% 20%;
  font-size: 0.9em;
}

hr {
  width: 50%;
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 3px;
}

.body-title {
  text-align: center;  
}

.exp-header {
  text-align: center;
  text-transform: uppercase;
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  background-color: #FDCB9E
}

.edu-header {
  text-align: center;
  text-transform: uppercase;
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  background-color: #CCEABB
}    
