body {
  background-color:#F7F7F7;
    color: #3F3F44;
    font-family: Tahoma, Arial, Helvetica, sans-serif;
    margin: 10% 20%;
}

.body-title {
  text-align: center;
  
}
.exp-header {
  text-align: center;
  text-transform: uppercase;
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  background-color: #FDCB9E
}

.edu-header {
  text-align: center;
  text-transform: uppercase;
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  background-color: #CCEABB
